<%# <div class="container relative p-6 mx-auto text-gray-900 bg-white rounded-lg lg:p-10">
  <div class="flex flex-wrap items-center justify-between w-full pb-4 mb-8 border-b-2 border-gray-200">
    <div class="flex flex-wrap items-start justify-between w-full pb-4 mb-4 border-b-2 border-gray-200"> %>
      <div class="flex-1">
        <h1 class="text-3xl font-bold leading-none text-gray-800"><%= @business.business_name %></h1>
        <p class="text-sm italic text-gray-500">Created by <%= @business.user.first_name%></p>
      </div>


  <%# <div class="flex flex-wrap items-start justify-between w-full mb-6">
    <div class="w-full lg:w-3/5">
    <% if @business.thumbnail.present? %>
      <%# <%= image_tag @business.thumbnail, class: "rounded" %>
    
    <%# <% end %> 
    <%# </div> %>

    <div class="w-full mt-6 lg:pl-10 lg:w-2/5 lg:mt-0">
      <div class="mb-6">
        <p class="text-sm font-semibold text-gray-500 uppercase">Description</p>
        <%= @business.description %>
      </div>
      

      <h3 class="text-2xl text-gray-900">Causes</h3>

      <% @business.causes.each do |causes| %>
        <div class="p-4 mb-6 bg-gray-100 border rounded">
          <h4 class="text-lg font-bold text-center text-gray-900"><%= cause.title %></h4>
          <p class="pb-2 mb-2 text-sm italic text-center border-b"><%= cause.quantity %> left</p>
          <div class="py-2 text-gray-700">
            <%= simple_format cause.description %>
          </div>

        </div>
      <% end %>
      
    </div>
    
    <% link_to "New Cause", new_cause_path %>

  <%# </div> %>

 <%# <% if admin? || author_of(@business) %>
    <%# <div class="absolute top-0 right-0 mt-4 mr-4">
      <%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-outlined btn-default" %>
      <%# <%= link_to 'Delete', project_path(project), method: :delete, class: "btn btn-sm btn-outlined btn-default", data: { confirm: "Are you sure?" } %>
    <%# </div>
  <% end %> 
<%# </div> %>

