<div class = "container">
  <div class="form">
    <%= form_with(model: @cause, url: business_causes_path(@business), local: true) do |form| %>
      <div class="form-group">
        <%= form.label :cause_name %><br>
        <%= form.text_field :cause_name, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= form.label :picture %>
      <%= form.file_field :picture, accept: 'image/png, image/jpeg, image/jpg' %>
    </div>
      <div class="form-group">
        <%= form.label :description %><br>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :donation_goal %><br>
        <%= form.number_field :donation_goal, class: "form-control" %>
      </div>
    
      <div class="submit">
        <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
      </div>

    <% end %>
  </div>
</div>