 
 <h1> <%= @cause.cause_name %> </h1>
 
 <p><%= @cause.description%> </p>

<h2> <%= @cause.donation_goal %> </h2>

 <%# Image? %>

 
 <%# <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none"><%= number_to_currency(@business.current_donation_amount) %>
      <%# <p class="text-sm text-gray-500">pledged of <%= number_to_currency(project.donation_goal) %>
    <%# </div> %>

    <%# <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none"><%= project.backings_count %></p>
      <%# <p class="text-sm text-gray-500">backers</p>
    </div> %> 

<%= link_to "Donate", "/donations/new" %>

<h2>Comments</h2>
<% @cause.comments.each do |comment| %> 
  <p>
    <strong>Commenter:</strong>
    <%= comment.first_name %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.description %>
  </p>
<% end %> 
 
<h2>Add a comment:</h2>
<%= form_with(model: [ @cause, @cause.comments.build ], local: true) do |form| %>
  <p> %>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>  %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end  %>
  

