 <div class = "container">
  <h1> <%= @cause.cause_name %> </h1>

      <div class="w-full lg:w-3/5">
      <% if @cause.picture.present? %>
        <%= image_tag @cause.picture, class: "rounded" %>
      <% end %> 
      </div>
  
  <p><%= @cause.description%> </p>

  <h2> <%= @cause.donation_goal %> </h2>



  <%= link_to "Donate", "/donations/new" %>

  <h2>Comments</h2>
  <% @cause.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div> 

