<div class = "container">
  <div class="card" >
    <h3> <%= @cause.cause_name %> </h3>
  
    <div class="w-full lg:w-3/5">
      <% if @cause.picture.present? %>
        <%= image_tag @cause.picture, class: "rounded" %>
      <% end %> 
    </div>
  
    <h3><%= @cause.description%> </h3>

    <h2> $<%= @cause.donation_goal %>0 </h2>

  </div>

  <%= link_to "Donate", "/donations/new" %>

  <h3>Comments</h3>
  <div class = "card">
    <% @cause.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
  <div class = "card">
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div> 

