<!DOCTYPE html>
<html>
  <head>
    <title>Uplift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="container-fluid"> 
      <div class="navbar-header">
        <p class="navbar-brand">Uplift</p>
      </div>
      
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'See All Businesses', businesses_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>

  <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
    <div class="input-group">  
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag "Go", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    </div>  
<% end %>
<nav>
      </div>
    </nav>
  </head>

  <body>
  <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
